{% extends 'base.html' %}

{% block title %}Contacto - Mi Empresa{% endblock %}

{% block content %}
<h1>Contacto</h1>
<img src="{{ url_for('static', filename='img/contacto.png') }}" alt="Logo de la Empresa" width="600" >
<p></p>
<form action="/contact" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="correo">Correo Electrónico:</label>
    <input type="email" id="correo" name="correo" required>

    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" required></textarea>

    <button type="submit">Enviar</button>
</form>
<h2>Ubicacion</h2>
<iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345091876!2d144.95373531531603!3d-37.81720997975183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11dbe7%3A0x5045675218ce6f0!2sMelbourne%20Central%2C%20La%20Torre%20de%20la%20Calle%20Swanston%20%26%20La%20Calle%20Lonsdale%2C%20Melbourne%20VIC%2C%20Australia!5e0!3m2!1ses-419!2ses!4v1630281163463!5m2!1ses-419!2ses" 
    width="300" 
    height="300" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy">
</iframe>


{% endblock %}
